{
    "extends": [
        "react-app",
        "airbnb",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "react/jsx-props-no-spreading": 0,
        "semi": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "import/prefer-default-export": 0,
        "react/no-array-index-key": 0,
        "react/react-in-jsx-scope": 0,
        "react/prop-types": 0,
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ]
    }
}